<template>
  <q-page class="q-pa-md">
    <p>
      Clicking this button will initiate a proposal to freeze the vigorlending
      platform.
    </p>
    <q-btn
      label="freeze app"
      icon="warning"
      color="primary"
      @click="freeze"
      :loading="isfreezing"
    />
    <p class="q-mt-md">
      Clicking this button will call the doupdate action on the vigorlending
      contract.
    </p>
    <q-btn
      label="doupdate"
      icon="refresh"
      color="primary"
      @click="doupdate"
      :loading="isdoupdating"
    />
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "vigorlendingApp",
  data() {
    return {
      freezelevel: "4",
      isfreezing: false,
      isdoupdating: false
    };
  },
  computed: {
    ...mapGetters({
      getAccountName: "user/getAccountName"
    })
  },
  methods: {
    async doupdate() {
      let doupdate_action = {
        account: "vigorlending",
        name: "doupdate",
        data: {}
      };
      this.isdoupdating = true;

      let res = await this.$store.dispatch("user/transact", {
        actions: [doupdate_action]
      });

      if (res) {
        //callback here
      }

      this.isdoupdating = false;
    },
    async freeze() {
      let t = confirm(
        "Are you sure you want to initiate a msig to freeze the vigor lending app?"
      );
      if (!t) return;
      let freeze_action = {
        account: "vigorlending",
        name: "freezelevel",
        data: {
          value: this.freezelevel
        },
        authorization: [{ actor: "vigorlending", permission: "freeze" }]
      };
      this.isfreezing = true;

      let res = await this.$store.dispatch("user/proposeMsig", {
        actions: [freeze_action],
        title: `FREEZE VIGORLENDING APP`,
        description: `${this.getAccountName} initiate the process of freezing the vigor lending app. See discussions in the custodian telegram.`
      });

      if (res) {
        //callback here
      }

      this.isfreezing = false;
    }
  }
};
</script>

<style></style>
